# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist
/.rollup.cache
/README.md
/webpack.config.js
/tsconfig.json
/package-lock.json
/eslint.config.js
/rollup.config.js