@use "../common.scss" as *;

.base {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  position: absolute;
  width: 250px;
  height: 140px;
  padding: 9px 10px;
}

.betForm {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--bet-bottom);
  background-color: rgba(var(--bet-panel-bg), 0.75);

  width: 250px;
  height: 140px;
  padding: 9px 10px;
  display: flex;
  flex-direction: column;
}

.disabled {
  opacity: 0.1;
}
