*,
html {
  --bet-bottom: 15px;
  --bet-panel-background: 8, 30, 100;

  --bg-color-rgb: 255, 255, 255;
  --text-color-hex: 255, 255, 255;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
