@use "../../common.scss" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  width: 35px;
  height: 35px;
}

.disabled {
  svg {
    opacity: 0.1;
  }
}

.menu {
  color: rgba(var(--text-color-hex), 1);
  background: rgba(var(--bg-color-rgb), 0.16);

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: auto;
  border-radius: 10px;

  cursor: pointer;
}

.menu_item {
  display: flex;
  align-items: center;
  width: 100%;
  text-transform: capitalize;
  height: 21px;
  padding: 0 11px;
  font-size: 16px;

  &:hover {
    color: rgba(var(--text-color-hex), 1);
    background: rgba(var(--bg-color-rgb), 0.16);
    border-radius: 10px;
  }
}

.menu_name {
  margin-left: 10px;
  color: rgba(var(--text-color-hex), 1);
}

.selected {
  color: rgba(var(--text-color-hex), 1);
  background: rgba(var(--bg-color-rgb), 0.16);
  border-radius: 10px;
}

.arrow {
  stroke: rgba(var(--text-color-hex), 1);
}
