
@use "../common.scss" as *;

.base {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100dvh;

  @include breakpoint("md") {
    position: relative;
  }
  @include breakpoint("sm") {
    position: relative;
  }
}

.betForm {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--bet-bottom, 50px);
  width: 300px;
  padding: 0 16px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
